extends layout

block content 
    h1 EDITOR
    .row
        .col
            canvas#editor(width='512px' height='488px')
        .col 
            p i am on the right column

append scripts 
    script(src='/js/editor.js') 