*{
    box-sizing: border-box;
}
canvas{
    border: 1px solid black;
}

body{
    width: 768px;
    min-height: 100vh;

    margin: auto;
    padding: 8px 24px;
}

h1, .nav{
    margin: 0;
}

.row{
    display: flex;
}

.col{
    flex: 1;
}